@import "tailwindcss";

:root {
  --background: #F7F5F1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm), Arial, Helvetica, sans-serif;
}

:root{
  --bg-1:#F7F5F1;
  --text:#000000;
}

.font-title{
  font-family: var(--font-alfa);
}

.font-body{
  font-family: var(--font-dm);
}

body {
  outline: 6px solid red !important;
}

/* Global header shadow */
header {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 50;
}

